@charset "utf-8";
@import "reset.css";
.page {
  width: 100%;
  background-color: #eee;
}
body {
  position: relative;
}
header {
  width: 100%;
  background: #ffffff;
}
header .bannerr {
  width: 1200px;
  height: 62px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
header .bannerr .logo {
  width: 230px;
  height: 62px;
  padding-top: 15px;
}
header .bannerr .logo a {
  display: block;
  background: url("../img/logo_it.jpg") no-repeat;
  text-indent: -9999px;
  overflow: hidden;
  background-size: 220px 32px;
}
header .bannerr .nav {
  width: 660px;
  height: 62px;
  line-height: 62px;
  margin-left: 65px;
}
header .bannerr .nav ul {
  display: flex;
  justify-content: space-between;
}
header .bannerr .nav ul .dian {
  vertical-align: middle;
  margin-right: 8px;
}
header .bannerr .nav ul li {
  position: relative;
}
header .bannerr .nav ul li a {
  color: #000000;
  margin-right: 10px;
}
header .bannerr .nav ul li a.active {
  color: #ff4a00;
}
header .bannerr .nav ul li #a {
  border: 1px solid #ff4a00;
  border-radius: 10px;
  padding: 5px 12px;
  color: #ff4a00;
}
header .bannerr .nav ul li .ul2 {
  position: absolute;
  top: 62px;
  left: -40px;
}
header .bannerr .nav ul li ul {
  position: absolute;
  top: 55px;
  left: -10px;
  padding-left: 15px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 9999;
}
header .bannerr .nav ul li ul .li2 {
  width: 160px;
  height: 80px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .bannerr .nav ul li ul .li2 img {
  width: 69px;
  height: 69px;
}
header .bannerr .nav ul li ul .li2 p {
  height: 69px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
header .bannerr .nav ul li ul .li2 p span {
  height: 25px ;
}
header .bannerr .nav ul li ul li {
  width: 85px;
  height: 40px;
}
header .bannerr .nav ul li ul li a:hover {
  color: #ff4a00;
}
header .bannerr .search {
  position: relative;
  width: 320px;
  height: 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .bannerr .search :nth-child(2) {
  position: absolute;
  top: 23px;
  left: 130px ;
}
header .bannerr .search input {
  width: 140px;
  height: 25px;
  border: 1px solid grey;
  border-radius: 20px;
  padding-left: 10px;
  opacity: 0;
  outline: none;
}
header .bannerr .search span {
  font-size: 12px;
}
header .bannerr .search span a.active {
  text-decoration: underline;
}
header .bannerr .d1 {
  position: relative;
  display: none;
  z-index: 9999;
}
header .bannerr .d1 .ul3 {
  position: absolute;
  top: 62px;
  left: -160px;
  width: 140px;
  padding: 10px;
  font-size: 14px;
  background-color: #ffffff;
  box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.2);
}
header .bannerr .d1 .ul3 .li3 {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dashed ;
}
header .bannerr .d1 .ul3 .li3 p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header .bannerr .d1 .ul3 .li3 p span {
  height: 25px ;
}
header .bannerr .d1 .ul3 .ll {
  border-bottom: none;
  padding: 0px;
}
.wechat {
  width: 65px;
  height: 170px;
  position: fixed;
  right: 0px;
  bottom: 160px ;
}
.wechat ul {
  position: absolute;
  right: 0px;
  height: 165px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wechat ul li {
  position: relative;
}
.wechat ul li img {
  cursor: pointer;
  width: 45px;
  height: 45px;
}
.wechat ul li .d1 {
  background: #ffffff;
  position: absolute;
  right: 48px;
  top: 0px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: none;
}
.wechat ul li .d1 img {
  width: 110px;
  height: 110px;
  padding: 14px 25px;
}
.wechat ul li .d1 p {
  text-align: center;
  font-size: 14px;
}
.wechat ul li .d2 {
  position: absolute;
  right: 45px;
  top: -10px;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  width: 130px;
  height: 60px;
  padding: 20px 25px;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #ccc;
  display: none;
}
.wechat ul li .d2 img {
  position: absolute;
  top: 30px;
  left: 25px;
}
.wechat ul li .d2 span {
  position: absolute;
  top: 20px;
  right: 20px;
}
.wechat ul li .d2 span:hover {
  text-decoration: underline;
}
.wechat ul li .d2 span a {
  font-size: 14px;
  color: blue;
}
.wechat ul li .d2 p {
  width: 60px;
  height: 20px;
  line-height: px;
  background: #ed2033;
  border-radius: 2px;
  border: 1px solid red;
  text-align: center;
  position: absolute;
  bottom: 25px;
  right: 25px;
  padding: 2px;
}
.wechat ul li .d2 p:hover {
  background: #ff555f;
}
.wechat ul li .d2 p a {
  font-size: 12px;
  color: #ffffff;
}
.wechat ul li .d3 {
  background: #ffffff;
  position: absolute;
  right: 45px;
  top: 0px;
  padding: 4px;
  padding-bottom: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: none;
}
.wechat ul li .d3 img {
  width: 120px;
  height: 120px;
  padding: 14px 25px;
}
.wechat ul li .d3 p {
  text-align: center;
  font-size: 12px;
  margin-top: -15px;
}
