@charset "utf-8";
@import "public.css";
.login_con .login_con_center {
  width: 1040px;
  margin: auto;
  display: flex;
}
.login_con .login_con_center .center_left {
  width: 50%;
  padding: 56px 0px  0px 0px;
}
.login_con .login_con_center .center_left ul {
  position: relative;
  border-right: 1px solid #cccccc;
}
.login_con .login_con_center .center_left ul .ll4 {
  width: 268px;
  height: 16px;
  margin-left: 70px;
  text-align: right;
}
.login_con .login_con_center .center_left ul .ll4 a {
  font-size: 12px;
  color: #ff4a00;
  text-decoration: underline;
}
.login_con .login_con_center .center_left ul .ll4 span {
  width: 100px;
  font-size: 14px;
}
.login_con .login_con_center .center_left ul .ll4 a {
  font-size: 14px;
  margin-right: 10px;
}
.login_con .login_con_center .center_left ul li {
  height: 38px;
  line-height: 38px;
  margin-bottom: 15px;
}
.login_con .login_con_center .center_left ul li span {
  display: inline-block;
  text-align: right;
  width: 70px;
  font-size: 14px;
}
.login_con .login_con_center .center_left ul li input {
  width: 262px;
  height: 38px;
  border: 1px solid #cccccc;
  outline: none;
  padding-left: 4px;
}
.login_con .login_con_center .center_left ul li b {
  margin-left: 10px;
  font-size: 12px;
  color: #999999;
}
.login_con .login_con_center .center_left ul li button {
  width: 268px;
  height: 42px;
  color: #ffffff;
  background: #ff4a00;
  margin-left: 70px;
  outline: none;
  cursor: pointer;
}
.login_con .login_con_center .center_left ul p {
  position: absolute;
  bottom: 140px;
  right: 190px;
  color: blue;
  font-size: 14px;
  cursor: pointer;
}
.login_con .login_con_center .center_left ul .ll9 {
  position: absolute;
  bottom: 90px;
  right: 190px;
  font-size: 12px;
}
.login_con .login_con_center .center_left ul .ll9:hover {
  color: #ff4a00;
}
.login_con .login_con_center .center_right {
  padding: 60px 0 0px 90px;
}
.login_con .login_con_center .center_right dl {
  line-height: 35px;
}
.login_con .login_con_center .center_right dl dd {
  color: #666666;
}
footer {
  position: relative;
  width: 100%;
  height: 156px;
  background: #404144;
  font-size: 12px;
  color: #999;
  line-height: 30px;
  text-align: center;
}
footer .center {
  width: 750px;
  height: 82px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -41px;
  margin-left: -375px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .center .left #p1 {
  font-size: 14px;
}
footer .center .left a {
  color: #999;
}
footer .center .left a:hover {
  color: #ff4a00;
}
footer .center .right {
  display: flex;
  justify-content: space-between;
}
footer .center .right img {
  width: 80px;
  height: 30px;
  margin-left: 10px;
}
