@charset "utf-8";
@import "public.css";
.video_bg {
  width: 100%;
  min-height: 400px;
  background-color: #292929;
  color: #ffffff;
  font-size: 14px;
}
.video_bg .begin {
  width: 1200px;
  height: auto;
  margin: auto;
}
.video_bg .begin .topp {
  width: 1200px;
  padding: 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.video_bg .begin .topp a {
  color: #ccc;
}
.video_bg .begin .conn {
  width: 1200px;
  margin: auto;
  display: flex;
}
.video_bg .begin .conn .conn_left {
  position: relative;
  width: 860px;
  height: 487px;
  background: #82827f;
}
.video_bg .begin .conn .conn_left video {
  width: 100%;
  height: 100%;
}
.video_bg .begin .conn .conn_left .play_contorls {
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.video_bg .begin .conn .conn_left .play_contorls img {
  vertical-align: middle;
}
.video_bg .begin .conn .conn_left .play_contorls .play01 {
  display: inline-block;
  width: 21px;
  height: 26px;
  background: url("../img/offcn_icnolh04.png") no-repeat;
  margin-left: 20px;
  vertical-align: middle;
}
.video_bg .begin .conn .conn_left .play_contorls .play01#play_b {
  background: url("../img/offcn_icnolh03.png") no-repeat;
}
.video_bg .begin .conn .conn_left .play_contorls .play02 {
  margin: 0 20px;
}
.video_bg .begin .conn .conn_left .play_contorls .paly03_1 {
  position: relative;
  top: -3px;
  left: -605px;
  display: inline-block;
  width: 5px;
  height: 5px;
  background: yellow;
}
.video_bg .begin .conn .conn_left .play_contorls .play03 {
  position: relative;
  top: -3px;
  left: -30px;
  display: inline-block;
  width: 550px;
  height: 5px;
  background: red;
  margin: 0 20px;
}
.video_bg .begin .conn .conn_left .play_contorls .play03 .paly03_2 {
  position: absolute;
  left: -8px;
  top: -8px;
}
.video_bg .begin .conn .conn_left .play_contorls .play04 {
  position: absolute;
  right: 80px;
}
.video_bg .begin .conn .conn_left .play_contorls .play05 {
  position: absolute;
  right: 20px;
}
.video_bg .begin .conn .conn_right {
  width: 340px;
}
.video_bg .begin .conn .conn_right .mulu {
  width: 100%;
  display: flex;
}
.video_bg .begin .conn .conn_right .mulu p {
  width: 30%;
  padding: 15px 0;
  text-align: center;
  background: #323232;
}
.video_bg .begin .conn .conn_right .mulu b {
  width: 70%;
  background: #3e3e3e;
}
.video_bg .begin .conn .conn_right ul {
  width: 100%;
  height: 437px;
  overflow: auto;
  background: #1f1f1f;
}
.video_bg .begin .conn .conn_right ul li {
  display: flex;
  justify-content: space-between;
  padding: 20px 15px;
  border-top: 1px solid #373737;
  border-bottom: 1px solid #373737;
  cursor: pointer;
}
.video_bg .begin .conn .conn_right ul li.active {
  background: #000000;
  color: #fc8900;
}
.video_bg .begin .conn .conn_right ul li img {
  margin-left: 20px;
  width: 16px;
  height: 16px;
}
.video_bg .begin .conn .conn_right ul li img.active {
  src: url(../img/shipin02.png);
}
.video_bg .begin .bott {
  width: 1200px;
  padding: 15px;
}
.video_bg .begin .bott ul {
  display: flex;
}
.video_bg .begin .bott ul li img {
  vertical-align: middle;
}
.video_bg .begin .bott ul li a {
  color: #ccc;
  margin: 0px 20px 0px 10px;
}
.xiangguan {
  width: 100%;
  padding: 20px 0;
}
.xiangguan .xiangguan_con {
  width: 1200px;
  margin: auto;
  display: flex;
}
.xiangguan .xiangguan_con .xiangguan_con_left {
  width: 70%;
}
.xiangguan .xiangguan_con .xiangguan_con_left h3 {
  padding: 20px;
}
.xiangguan .xiangguan_con .xiangguan_con_left ul {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.xiangguan .xiangguan_con .xiangguan_con_left ul li {
  width: 24%;
  display: flex;
  flex-direction: column;
  background: #f8f8f8;
  font-size: 14px;
  line-height: 30px;
  margin-bottom: 20px;
}
.xiangguan .xiangguan_con .xiangguan_con_left ul li img {
  width: 200px;
  height: 110px;
}
.xiangguan .xiangguan_con .xiangguan_con_left ul li .biaoti {
  padding-left: 10px;
}
.xiangguan .xiangguan_con .xiangguan_con_left ul li .biaoti:hover {
  text-decoration: underline;
}
.xiangguan .xiangguan_con .xiangguan_con_left ul li p {
  padding-left: 10px;
}
.xiangguan .xiangguan_con .xiangguan_con_left ul li p span {
  margin-right: 5px;
}
.xiangguan .xiangguan_con .xiangguan_con_left ul li p span:nth-child(1) {
  text-decoration: line-through;
}
.xiangguan .xiangguan_con .xiangguan_con_left ul li p span:nth-child(2) {
  color: orange;
}
.xiangguan .xiangguan_con .xiangguan_con_left ul li p a {
  color: green;
}
.xiangguan .xiangguan_con .xiangguan_con_left ul li p a:hover {
  text-decoration: underline;
}
.xiangguan .xiangguan_con .xiangguan_con_right {
  width: 30%;
}
.xiangguan .xiangguan_con .xiangguan_con_right .pingjia {
  padding: 20px;
}
.xiangguan .xiangguan_con .xiangguan_con_right .pjwrap {
  position: relative;
  margin-left: 20px;
  width: 320px;
  height: 100px;
  border: 1px solid #999;
  margin-bottom: 20px;
}
.xiangguan .xiangguan_con .xiangguan_con_right .pjwrap input {
  min-height: 40px;
  margin-left: 10px;
  outline: none;
}
.xiangguan .xiangguan_con .xiangguan_con_right .pjwrap button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px 10px;
  background: green;
  color: #ffffff;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
}
.xiangguan .xiangguan_con .xiangguan_con_right .pingjia_con {
  margin-left: 30px;
}
.xiangguan .xiangguan_con .xiangguan_con_right .pingjia_con .pingjia_con_01 {
  position: relative;
  line-height: 45px;
}
.xiangguan .xiangguan_con .xiangguan_con_right .pingjia_con .pingjia_con_01 img {
  vertical-align: middle;
}
.xiangguan .xiangguan_con .xiangguan_con_right .pingjia_con .pingjia_con_01 span {
  margin: 0 15px;
}
.xiangguan .xiangguan_con .xiangguan_con_right .pingjia_con .pingjia_con_01 p {
  font-size: 14px;
}
.xiangguan .xiangguan_con .xiangguan_con_right .pingjia_con .pingjia_con_01 button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px 10px;
  background: red;
  color: #ffffff;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
}
footer {
  position: relative;
  width: 100%;
  height: 156px;
  background: #404144;
  font-size: 12px;
  color: #999;
  line-height: 30px;
  text-align: center;
}
footer .center {
  width: 650px;
  height: 82px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -41px;
  margin-left: -325px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .center .left #p1 {
  font-size: 14px;
}
footer .center .left a {
  color: #999;
}
footer .center .left a:hover {
  color: #ff4a00;
}
footer .center .right {
  display: flex;
  justify-content: space-between;
}
footer .center .right img {
  width: 80px;
  height: 30px;
  margin-left: 10px;
}
